# Git credentials for Azure DevOps
# This file is included by ~/.config/git/work and contains sensitive credentials
# DO NOT commit this file to any repository
#
# Copy this file to ~/.config/git/credentials and fill in your actual PAT:
#   cp dotfiles/git/credentials.example ~/.config/git/credentials
#   chmod 600 ~/.config/git/credentials
#   # Edit to add your actual AZURE_DEVOPS_EXT_PAT value

[url "https://lcn2abt:<YOUR_AZURE_DEVOPS_EXT_PAT>@dev.azure.com/bosch-denso-common"]
    insteadOf = https://lcn2abt@dev.azure.com/bosch-denso-common

[url "https://lcn2abt:<YOUR_AZURE_DEVOPS_EXT_PAT>@dev.azure.com/bosch-cap"]
    insteadOf = https://lcn2abt@dev.azure.com/bosch-cap
